{% extends 'base.html' %}


{% block content %}

    <h1>Title: {{ course_detail.name }} </h1>
    <h3>Author: {{ course_detail.author }} </h3>
    <p>Description: {{ course_detail.description }} </p>

    {% if subscription_state == True %}
        <form method="POST"> {% csrf_token %}
            <button class="btn btn-lg btn-success btn-block btn-d" name="subscribe" value="" type="submit" disabled>Subscribed</button>
            <button class="btn btn-lg btn-danger btn-block btn-d" name="unsubscribe" value="Unsubscribe" type="submit" >Unsubscribe</button>
        </form>
    {% else %}
        <form method="POST"> {% csrf_token %}
            <button class="btn btn-lg btn-primary btn-block " name="subscribe" value="Subscribe" type="submit">Subscribe</button>
        </form>
    {% endif %}

    {% if request.user == course_detail.author %}

        <form method="POST"> {% csrf_token %}
            <button class="btn btn-lg btn-danger btn-block " name="delete" value="Delete" type="submit">Delete course</button>
        </form>

        <a href="{% url 'course:edit_course' course_detail.slug %}" >EDIT</a>

    {% endif %}




{% endblock content %}