{% extends 'base.html' %}


{% block content %}
    <style>
    .account-img {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      width: 200px;
      height: 200px;
    }
  </style>

    <article class="media content-section">
          <img class="account-img" src="{{ course_detail.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <h2 class="account-heading"> Author: {{ course_detail.author }}</h2>
            </div>
            <h3 class="account-heading"> Course name: {{ course_detail.name }}</h3>
            <p class="article-content"> Description: {{ course_detail.description }}</p>
          </div>
        </article>

    {% if subscription_state == True %}
        <form method="POST"> {% csrf_token %}
            <button class="btn btn-lg btn-success btn-block btn-d" name="subscribe" value="" type="submit" disabled>Subscribed</button>
            <button class="btn btn-lg btn-danger btn-block btn-d" name="unsubscribe" value="Unsubscribe" type="submit" >Unsubscribe</button>
        </form>
    {% else %}
        <form method="POST"> {% csrf_token %}
            <button class="btn btn-lg btn-primary btn-block " name="subscribe" value="Subscribe" type="submit">Subscribe</button>
        </form>
    {% endif %}





{% endblock content %}