{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    {% if course_unauthorized != "" %}
         <p>{{ course_unauthorized }}</p>
    {% else %}

         <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Course details</legend>
                  {{ course_form|crispy }}
              </fieldset>
              <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Update</button>
              </div>
          </form>

        {% if course_error != "" %}
            <p> {{ course_error }}  </p>
        {% endif %}

    {% endif %}
{% endblock content %}