{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <script type="application/javascript">
        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });
    </script>

    <style>
        .language-info {
            color: #4f4f4f;
        }
    </style>

    {% if learn_all != "" %}
        <p>{{ learn_all }}</p>
    {% else %}
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <p class="text-uppercase font-weight-bold language-info mb-0">{{ course_detail.target_language }}</p>
                        <h1>{{ word.target_word }}</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <a href="#" id="show-translation">SEE TRANSLATION</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p id="translated-language"
                           class="text-uppercase font-weight-bold language-info  mb-0 mt-2">{{ course_detail.source_language }}</p>
                        <h2 id="translated">{{ word.source_word }}</h2>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="row " id="correctInfo">
                    <div class="col-12">
                        <div class="alert alert-success" role="alert">
                            <span>Correct!</span>
                        </div>
                    </div>
                </div>

                <div class="row" id="wrongInfo">
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert">
                            <span>Wrong!</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Enter translation</legend>
                                <label for="inputSource">Translation (<span
                                        class="text-uppercase font-weight-bold language-info">{{ course_detail.source_language }}</span>)
                                </label><input type="text" name="source_word"
                                               id="inputSource"
                                               class="form-control mb-1"
                                               placeholder="Source word" required>
                                    <input type="checkbox" name="has_seen_translation"
                                               id="inputSeenTranslation"
                                               class="form-control mb-1"
                                               placeholder="Has seen translation" >
                            </fieldset>
                            <div class="form-group" id="checkButton">
                                <button class="btn btn-outline-info" name="check2" id="checkButton" value="Check"
                                        type="button">
                                    Check
                                </button>
                            </div>
                            <div class="form-group" id="nextButton">
                                <button class="btn btn-outline-info" name="next" value="Next" type="submit">Next
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-1">
                <a class="btn btn-dark align-self-end" role="button" href="{% url 'home' %}">
                    End session</a>
            </div>
        </div>





        <script type="application/javascript">

            $('#translated').hide();
            $('#translated-language').hide();
            $('#correctInfo').hide();
            $('#wrongInfo').hide();
            $('#nextButton').hide();
            $('#inputSeenTranslation').hide();

            $('#show-translation').click(function () {
                $('#translated').slideToggle();
                $('#translated-language').slideToggle();
                $('#inputSeenTranslation').prop( "checked", true );
            });


            $('#checkButton').click(function () {
                let input = $('#inputSource').val();
                if (input === '{{ word.source_word }}') {
                    $('#wrongInfo').hide();
                    $('#correctInfo').show();
                    $('#checkButton').hide();
                    $('#nextButton').show();
                    $('#inputSource').prop("disabled", true);
                } else {
                    $('#correctInfo').hide();
                    $('#wrongInfo').hide().slideDown(200);
                    $('#nextButton').hide();
                }
            })


        </script>
    {% endif %}
{% endblock content %}