{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}


    <div class="row">
        <div class="col-12">
            <h1>Target word</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <a href="#" id="show-translation">SEE TRANSLATION</a>
        </div>
    </div>

     <div class="row">
        <div class="col-12">
            <h4 id="translated">Source word</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="alert alert-success" role="alert">
                <span>Correct!</span>
            </div>
        </div>
    </div>


    <script type="application/javascript">

        $('#translated').hide();

        $('#show-translation').click(function () {
            $('#translated').slideToggle();
        })

    </script>

{% endblock content %}