{% extends 'base.html' %}

{% block content %}
    <style>

    </style>
    <main role="main">

        <div class="row">
            <div class="col-3 align-self-start">
                Profile info here
            </div>

            <div class="col-9">
                 <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-350 position-relative">
                <div class=" ">
                     list of courses
                 </div>
            </div>
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-350 position-relative">
                <div class=" ">
                     list of courses
                 </div>
            </div>
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-350 position-relative">
                <div class="">
                     list of courses
                 </div>
            </div>
            </div>




        </div>

    </main>

{% endblock content %}