{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .bg-image {
        background-image: url('{% static 'learn.jpeg' %}');
        background-size: cover;
    }
    .small-img {
        width: 10rem;
        height: 10rem;
        margin: 0 auto;
        padding-top: 3rem;
    }

    .text-min-height {
        min-height: 4rem;
    }
</style>
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron text-dark bg-image">
      <div class="container">
        <h1 class="display-3">&nbsp;</h1>
        <h1 class="display-3">&nbsp;</h1>

      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2 class="text-center text-min-height">Learn words from existing courses!</h2>
            <a href="{% url 'register' %}">
            <img src="https://image.flaticon.com/icons/svg/148/148992.svg" alt="join" class="small-img d-flex justify-content-center ">
            </a>
        </div>
        <div class="col-md-4">
          <h2 class="text-center text-min-height">Create your own courses! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
            <a href="{% url 'register' %}">
            <img src="https://image.flaticon.com/icons/svg/148/148926.svg" alt="create" class="small-img d-flex justify-content-center ">
            </a>
        </div>
        <div class="col-md-4">
          <h2 class="text-center text-min-height">Join the community! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
            <a href="{% url 'register' %}">
            <img src="https://image.flaticon.com/icons/svg/149/149066.svg" alt="community" class="small-img d-flex justify-content-center ">
            </a>
        </div>
      </div>



    </div> <!-- /container -->

  </main>

{% endblock content %}