{% extends 'base.html' %}

{% block content %}
<style>
    
</style>
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron bg-secondary text-light">
      <div class="container">
        <h1 class="display-3">Projekt zespolowy</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum vel dicta, doloribus tenetur doloremque itaque distinctio soluta sed consectetur, ut rerum ad vitae voluptatem corporis recusandae voluptatum voluptas nemo eos.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Big collection of courses</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur nesciunt tempore ea totam porro similique at consectetur, iste repellat eligendi voluptate modi nisi nostrum? Minima maxime voluptas facilis odio expedita? </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Create your own courses!</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut repellat necessitatibus expedita libero, ipsam incidunt impedit tenetur, recusandae aperiam qui eaque nisi! Possimus placeat sunt ipsa incidunt vel iusto cum!</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Active community</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam delectus recusandae ex hic nulla nihil dolorum voluptatum fugit cum iure rem, optio ipsa necessitatibus in quasi distinctio eum natus sint.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>

{% endblock content %}